# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# FAISS vectorstore
vectorstore/

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
genv/
venv/